{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  <main role="main">
    <div class="container">

      <h1 class="text-center pt-3">{% trans "Welcome to Ganesh's Blog" %}</h1>
      <br />
      {% include "blog/search-blog.html"  with search_text="search your blog" %}
      <br />
      <h2>Latest Blogs</h2>
      <hr />

      {% for blog in object_list %}
      <a href="{% url 'blog_detail' blog.id %}"><h3 {% if forloop.counter|divisibleby:2 %}style="color:red;"{%endif%}>{{forloop.counter}}. {{ blog.title }}</h3></a>
      {{ blog.pub_date_pretty }}
      <br />
      <!-- <img class="img-fluid" src="{{ blog.image.url }}" height=200 width=200 /> -->
      <br /><br />
      <!-- <p>{{ blog.summary }}</p> -->
      {% endfor %}
    </div>
  </main>
{% endblock %}

