{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Hi, I'm Ganesh.</h1>
        <p class="lead text-muted">Hey, I am python developer. I love working on Embedded System Test Automation, Django and Machine Learning.</p>
        <p>
          <a href="mailto:ganeshkumar.patil@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
        <img src="{% static 'ganesh.jpg' %}" height="300" />
      </div>
    </section>

    <h2 class="text-center">Technologies worked on</h2>
    <br />

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for job in jobs %}
            <div class="col-md-6">
              <div class="card mb-4 box-shadow">
                <img src="{{ job.image.url }}" class="w-96 h-96 object-cover rounded-lg" alt="Job image">
                <div class="card-body">
                  <p class="card-text">{{ job.summary | safe }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
